@import "../../../node_modules/font-awesome/css/font-awesome.css";

.roof-icon {
    line-height: 200px;
    font-size: 72pt;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.roof-widget-on {
    color: yellow;
}

.roof-status {
    line-height: 12pt;
    font-size: 12pt;
}
