@import "../../assets/css/owfont-regular.min.css";

.weather-icon {
    /*line-height: 172px;*/
    font-size: 60pt;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: blue; 
}

.weather-widget-on {
    color: yellow;
}

.weather-status {
    line-height: 12pt;
    font-size: 12pt;
}
