body {
    background-color: #000000;
}

.widget {
    width: 200px;
    height: 200px;
    background-color: #808080;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.widget2x {
    width: 420px;
    height: 200px;
    background-color: #808080;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.widget-header {
    line-height: 30px;
    color: white;
    background-color: #404040;
} 